@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-red: rgb(200, 16, 46);
  --alpine-blue: rgb(235, 242, 245);
  --btn-width: 250px;
  --btn-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--alpine-blue);
  color: black;
  font-family: "Inter";
  font-size: 28px;
  overflow-x: hidden;
  line-height: 170%;
}

h1 {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: bold;
  line-height: 150%;
  color: var(--main-red);
}

h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-style: bold;
  line-height: 150%;
  color: var(--main-red);
}

h3 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  color: var(--main-red);
}

h4 {
  font-family: "Monument Expanded";
  font-size: 40px;
  color: white;
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
  font-style: extrabold;
}

button {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  color: var(--alpine-blue);
  background-color: var(--main-red);
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 800px;
  border-radius: 11px;
  border: none;
}

strong {
  font-weight: 600;
}

#menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  color: white !important;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  &.grow {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .logo-m {
    margin-bottom: 3rem;
    h2{
      font-size: 48px;
    }
    img {
      width: 100px;
      height: auto;
    }

    .brand-m {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .menu_mobile_nav {
    list-style: none;
    padding: 0;
    text-align: center;

    li.item {
      padding: 1rem 0;

      a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
}

header nav ul li:last-child {
  display: none;
}

.hero-contact {
  padding: 0 3rem;
  background-image: url(../assets/img/contact-hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    font-family: "Inter";
    font-style: bold;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
      padding-top: 2rem;

      .logo {
        width: 4rem;
        height: 4rem;
      }
    }

    nav {
      ul {
        padding-top: 2rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3.5rem;

        li a {
          color: var(--alpine-blue);
          text-decoration: none;
          font-size: 24px;
        }
      }
    }
  }

  .hero-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

    h1 {
      font-family: "Montserrat";
      font-size: 100px;
      color: var(--alpine-blue);
      margin: 0;
      line-height: 1;
    }
  }
}

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-wrapper {
  width: 100%;
  min-height: 700px;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding-left: 10%;
}

.background-map {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 60px);
  border: 0;
  z-index: 1;
  object-fit: cover;
}

.contact-form {
  position: relative;
  z-index: 10;

  background-color: white;
  padding: 2rem;
  width: 30%;
  border-radius: 11px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  h3 {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 2rem;
    padding-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 11px;
      font-family: "Inter";
      font-size: 16px;
      outline: none;
      transition: border 0.3s;

      &:focus {
        border-color: var(--main-red);
      }
    }

    .input-row {
      display: flex;
      gap: 1rem;
    }

    button {
      margin-top: 1rem;
      width: 100%;
      background-color: var(--main-red);
      color: white;
    }
  }
}

.info-bar {
  background-color: var(--alpine-blue);
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: stretch;
  flex-wrap: wrap;
}

.info-card {
  flex: 1;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 11px;
  padding: 3rem 2rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1.5rem;
    transition: filter 0.3s ease;
  }

  h4 {
    font-family: "Montserrat";
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2rem;
    transition: color 0.3s ease;
  }

  p {
    text-align: start;
    font-size: 24px;
    line-height: 1.6;
    padding-bottom: 0;
    transition: color 0.3s ease;
    color: black;
  }

  &:hover {
    background-color: var(--main-red);
    border-color: var(--main-red);

    h4,
    p {
      color: white;
    }

    .icon {
      filter: brightness(0) invert(1);
    }
  }
}

/* ------------------------------------------------------ FOOTER ------------------------------------------------------ */
.main-footer {
  background-color: rgb(54, 54, 56);
  color: white;
  padding: 3rem 3rem;

  .footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;

    .footer-brand {
      display: flex;
      align-items: center;
      align-self: center;
      gap: 2rem;
      flex: 2;

      .logo-shield img {
        width: 110px;

        height: auto;
      }

      h2 {
        color: white;
        font-weight: 800;
        margin: 0;
      }
    }

    .footer-column {
      flex: 1;

      h3 {
        font-size: 36px;
        margin-bottom: 2.5rem;
        color: white;
        font-weight: 700;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1.2rem;

          a {
            color: #ababab;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s;

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    .footer-subscribe {
      flex: 1.5;

      h3 {
        font-size: 36px;
        margin-bottom: 1rem;
        color: white;
        font-weight: 700;
      }

      p {
        font-size: 20px;
        margin-bottom: 3rem;
        line-height: 1.4;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        input {
          padding: 1rem 1.2rem;
          border-radius: 11px;
          border: none;
          font-size: 18px;
          width: 100%;
          max-width: 350px;
        }

        button {
          cursor: pointer;
          transition: all 0.3s ease;
          width: 100%;
          max-width: 350px;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(200, 16, 46, 0.4);
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------ RESPONSIVE ------------------------------------------------------ */
@media (max-width: 1224px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  .hero-contact {
    min-height: 40vh;
    padding: 0 1.5rem;

    .header nav ul li a {
      display: none;
    }

    .burguer {
      display: block;
    }

    .hero-title h1 {
      font-size: 55px;
    }
  }

  .map-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: auto;
    height: auto;

    .contact-form {
      order: 1;
      width: 100%;
      max-width: 100%;
      padding: 3rem 1.5rem;
      box-shadow: none;
      border-radius: 0;
      top: 0;

      h3 {
        font-size: 28px;
      }

      .subtitle {
        font-size: 18px;
      }

      form .input-row {
        flex-direction: column;
        gap: 1rem;
      }
    }

    .background-map {
      order: 2;
      position: relative;
      width: 100%;
      height: 460px;
      top: 0;
      left: 0;
      margin-top: -60px;
      z-index: 0;
    }
  }

  .info-bar {
    padding: 3rem 1.5rem;
    flex-direction: column;
    gap: 2rem;

    .info-card {
      width: 100%;
      padding: 2rem;

      h4 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .main-footer {
    padding: 3rem 1.5rem;

    .footer-container {
      flex-direction: column;
      gap: 3rem;

      .footer-brand {
        width: 100%;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;

        .logo-shield img {
          width: 80px;
        }

        h2 {
          font-size: 24px;
        }
      }

      .footer-column {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 2rem;

        h3 {
          font-size: 24px;
          margin-bottom: 1rem;
        }

        ul li a {
          font-size: 18px;
          display: block;
          padding: 5px 0;
        }
      }

      .footer-subscribe {
        width: 100%;

        h3 {
          font-size: 24px;
        }

        p {
          margin-bottom: 1.5rem;
        }

        form {
          input,
          button {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
 /* ---------------------------- BURGUER ------------------------------------ */

  header nav ul li:last-child {
    display: flex !important;
    justify-content: flex-end;
    justify-content: flex-end;

    height: 35px;
    align-items: center;
  }

  #nav-icon {
    display: block;
  }

  .navcollapse {
    overflow: hidden;
  }
}

#nav-icon {
  display: block;
}

.navcollapse {
  overflow: hidden;
}

#nav-icon {
  width: 30px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  z-index: 99999999999;

  span {
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background: var(--main-red);
    border: 2px solid var(--main-red);
    color: var(--main-red);
    transition: 0.2s ease-in-out;

    &:nth-child(odd) {
      left: 0;
      border-radius: 8px 0 0 8px;
    }

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 8px 8px 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
    }
    &:nth-child(3),
    &:nth-child(4) {
      top: 9px;
    }
    &:nth-child(5),
    &:nth-child(6) {
      top: 18px;
    }
  }

  &.open {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }
      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 3px;
        top: 5px;
      }
      &:nth-child(2) {
        top: 5px;
        right: 7px;
        left: 50%;
      }
      &:nth-child(5) {
        left: 3px;
        top: 16px;
      }
      &:nth-child(6) {
        top: 16px;
        left: 50%;
      }

      &:nth-child(3) {
        transform: translateX(-100px);
        opacity: 0;
      }

      &:nth-child(4) {
        transform: translateX(100px);
        opacity: 0;
      }
    }
  }
}

.progress-wrap {
  background-color: black;
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;

  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .progress-circle path {
    fill: none;
    stroke: var(--main-red); /* Uso tu variable de color */
    stroke-width: 4;
    box-sizing: border-box;
    transition: all 200ms linear;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -40%);
    color: white;
  }
}

