@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: black;
    --main-color-25: rgba(213, 211, 211, 1);
    --main-color-50: rgba(118, 117, 117, 1);
    --main-color-75: rgba(59, 59, 59, 1);
    --secondary-color: white;

    --orange: rgba(248, 111, 19, 1);
    --orange-50: rgba(248, 157, 106, 1);
    --green: rgba(3, 228, 37, 1);
    --green-50: rgba(81, 243, 108, 1);

    --paragraph-size: 1.125rem;
    --text-h1: clamp(1.5rem, 1.22rem + 1.067vw, 2.5rem);
    --btn-width: 160px;
    --btn-height: 32px;
}

@font-face {
    font-family: Nicomoji;
    src: url(assets/fonts/NicoMoji-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    color: white;
    font-family: Poppins;
}

.btn {
    width: var(--btn-width);
    height: var(--btn-height);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    cursor: pointer;
    /*importante*/
}

.btn-primary-green {

}

.btn-primary-orange {

}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}



.hero {
    height: 100vh;
    background-image: url(assets/img/fondo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    header {
        width: 100%;
        height: 60px;
        background-color: var(--main-color);
        padding: 1rem 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        .branding {
            flex: 1;

            display: flex;
            align-items: center;
            gap: .5rem;

            .logo {
                width: 80px;
                height: 47px;
                background-image: url(assets/img/logo.svg);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }

            .brand {
                font-family: Nicomoji;
                font-size: 1.2rem;
                text-transform: lowercase;
                margin-left: -2rem;
                margin-top: -.4rem;
            }
        }

        nav {

            ul {
                flex: 1;
                list-style-type: none;

                display: flex;
                justify-content: flex;
                align-items: center;
                gap: 2rem;

                li a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var(--secondary-color);
                    font-size: 1.2rem;
                    margin-top: 0.5rem;
                }

                li:last-child {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }



            }
        }
    }


    .hero-content {
        position: relative;
        height: calc(100vh - 60px);

        .decoy {
            position: absolute;
            text-align: center;
            right: 10%;

            .product-brand {
                width: 573px;
                height: 152px;
                background-image: url(assets/img/patito.png);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .product-hero {
            width: 60%;
            aspect-ratio: 1.64 / 1;

            position: absolute;
            bottom: 0rem;
            left: 20%;

            background-image: url(assets/img/bici2.png);
            background-size: 100%;
            background-position: top center;
            background-repeat: no-repeat;
        }


    }

}

/* ----------------------------------------------------------------SELECT------------------------------------- */

.select {
    height: 100vh;
    background-color: var(--main-color-75);

    .select-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-family: Nicomoji;
        }
    }
}