@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-red: rgb(200, 16, 46);
  --alpine-blue: rgb(235, 242, 245);
  --btn-width: 250px;
  --btn-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--alpine-blue);
  color: black;
  font-family: "Inter";
  font-size: 28px;
  overflow-x: hidden;
  line-height: 170%;
}

h1 {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: bold;
  line-height: 150%;
  color: var(--main-red);
}

h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-style: bold;
  line-height: 150%;
  color: var(--main-red);
}

h3 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  color: var(--main-red);
}

h4 {
  font-family: "Monument Expanded";
  font-size: 40px;
  color: white;
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
  font-style: extrabold;
}

button {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  color: var(--alpine-blue);
  background-color: var(--main-red);
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 800px;
  border-radius: 11px;
  border: none;
}

strong {
  font-weight: 600;
}

#menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  color: white !important;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999999;

  &.grow {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .logo-m {
    margin-bottom: 3rem;

    h2 {
      font-size: 48px;
    }

    img {
      width: 100px;
      height: auto;
    }

    .brand-m {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .menu_mobile_nav {
    list-style: none;
    padding: 0;
    text-align: center;

    li.item {
      padding: 1rem 0;

      a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
}

header nav ul li:last-child {
  display: none;
}

.hero-routes {
  padding: 0 3rem;
  background-image: url(../assets/img/header-routes.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    font-family: "Inter";
    font-style: bold;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
      padding-top: 2rem;

      .logo {
        width: 4rem;
        height: 4rem;
      }
    }

    nav {
      ul {
        padding-top: 2rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3.5rem;

        li a {
          color: var(--alpine-blue);
          text-decoration: none;
          font-size: 24px;
        }
      }
    }
  }

  .hero-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

    h1 {
      font-family: "Montserrat";
      font-size: 100px;
      color: var(--alpine-blue);
      margin: 0;
      line-height: 1;
    }
  }
}

.routes-intro {
  padding: 3rem 3rem;

  .routes-title {
    text-align: center;

    p {
      font-size: 24px;
      font-style: italic;
    }
  }

  h2 {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .route-intro1,
  .route-intro3 {
    display: flex;

    gap: 2rem;
    align-items: center;
    padding-bottom: 5rem;

    .left {
      width: 50%;

      .info {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-bottom: 2rem;

        p {
          font-weight: 600;
        }
      }

      .first {
        padding-top: 3rem;
      }

      .button {
        text-align: left;
        margin-top: 2rem;
      }
    }

    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }
    }
  }

  .route-intro2,
  .route-intro4 {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 5rem;

    .left {
      width: 50%;
      display: flex;
      justify-content: flex-start;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }
    }

    .right {
      width: 50%;
      padding-left: 2rem;

      h2.reversed {
        text-align: left;
      }

      .info {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-bottom: 2rem;

        p {
          font-weight: 600;
        }
      }

      .button {
        text-align: left;
        margin-top: 2rem;
      }
    }
  }
}

/* ------------------------------------------------------ ROUTES ------------------------------------------------------ */
.route1,
.route2,
.route3,
.route4 {
  padding: 7rem 3rem;
  margin: 0 auto;

  .title {
    margin-bottom: 5rem;

    h1 {
      margin-bottom: 1.5rem;
    }

    .subtitle {
      display: flex;
      gap: 4rem;
      margin-bottom: 2rem;

      .info {
        gap: 1rem;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        img {
          width: 40px;
        }
      }
    }
  }

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: var(--main-red);
      z-index: 1;
    }

    .timeline-item {
      padding: 1rem 0;
      display: grid;
      align-items: center;
      position: relative;
      z-index: 2;

      .marker-side {
        display: flex;
        justify-content: center;

        .circle {
          width: 55px;
          height: 55px;
          background-color: var(--alpine-blue);
          border: 4px solid var(--main-red);
          border-radius: 50%;
        }
      }

      .text-side h2 {
        padding-bottom: 2rem;
      }

      .image-side img {
        width: 100%;
        border-radius: 11px;
        display: block;
      }
    }
  }

  .tip {
    margin-top: 3.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    padding: 1.5rem;
    font-size: 24px;

    .top {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 0.5rem;

      img {
        width: 40px;
      }
    }
  }
}

.route1 {
  .timeline {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-item {
      grid-template-columns: 1fr 100px 1fr;
      gap: 4rem;
    }
  }

  .tip {
    background-color: rgb(217, 217, 217);
  }
}

.route2 {
  .timeline {
    &::before {
      left: 27px;
    }

    .timeline-item {
      grid-template-columns: 55px 40% 1fr;
      gap: 3rem;

      .text-side {
        text-align: left;
      }
    }
  }
}

.route3 {
  .timeline {
    &::before {
      right: 27px;
    }

    .timeline-item {
      grid-template-columns: 1fr 40% 55px;
      gap: 3rem;

      .text-side {
        text-align: left;
      }
    }
  }
}

.route4 {
  .timeline {
    &::before {
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
    }

    .timeline-item {
      grid-template-columns: 1fr 80px 1fr;
      gap: 3rem;

      .text-side {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        padding-right: 1rem;
      }

      .marker-side {
        grid-column: 2;
        grid-row: 1;
      }

      .image-side {
        grid-column: 3;
        grid-row: 1;

        img {
          height: 250px;
          object-fit: cover;
        }
      }
    }
  }
}

.route2 .tip.foodie {
  background-color: #d8e6d1;

  p {
    color: #2d4a22;
  }
}

.route3 .tip.curiosity {
  background-color: #fff9e5;

  p {
    color: #856404;
  }
}

.route4 .tip.wellness {
  background-color: #f5ebf7;

  p {
    color: #6a1b9a;
  }
}

/* ------------------------------------------------------ FOOTER ------------------------------------------------------ */
.main-footer {
  background-color: rgb(54, 54, 56);
  color: white;
  padding: 3rem 3rem;

  .footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;

    .footer-brand {
      display: flex;
      align-items: center;
      align-self: center;
      gap: 2rem;
      flex: 2;

      .logo-shield img {
        width: 110px;

        height: auto;
      }

      h2 {
        color: white;
        font-weight: 800;
        margin: 0;
      }
    }

    .footer-column {
      flex: 1;

      h3 {
        font-size: 36px;
        margin-bottom: 2.5rem;
        color: white;
        font-weight: 700;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1.2rem;

          a {
            color: #ababab;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s;

            &:hover {
              color: white;
            }
          }
        }
      }
    }

    .footer-subscribe {
      flex: 1.5;

      h3 {
        font-size: 36px;
        margin-bottom: 1rem;
        color: white;
        font-weight: 700;
      }

      p {
        font-size: 20px;
        margin-bottom: 3rem;
        line-height: 1.4;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        input {
          padding: 1rem 1.2rem;
          border-radius: 11px;
          border: none;
          font-size: 18px;
          width: 100%;
          max-width: 350px;
        }

        button {
          cursor: pointer;
          transition: all 0.3s ease;
          width: 100%;
          max-width: 350px;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(200, 16, 46, 0.4);
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------ RESPONSIVE ------------------------------------------------------ */
@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 42px;
    padding: 3rem 1.5rem;
  }

  h2 {
    font-size: 28px;
    padding-top: 1rem;
  }

  .hero-routes {
    min-height: 40vh;
    padding: 0 1.5rem;

    .header nav ul li a {
      display: none;
    }

    .burguer {
      display: block;
    }

    .hero-title h1 {
      font-size: 55px;
      padding: 0;
    }
  }

  .routes-intro {
    padding: 2rem 1.5rem;

    .routes-title p {
      font-size: 18px;
    }

    .route-intro1,
    .route-intro2,
    .route-intro3,
    .route-intro4 {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
      gap: 2rem;

      .left,
      .right {
        width: 100%;
        padding: 0;
        justify-content: center;
        text-align: left;

        .info {
          gap: 1rem;
          padding-bottom: 1rem;
          align-items: center;

          display: flex;

          img {
            width: 40px;
            height: 40px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin-bottom: 2rem;
      }

      .button {
        margin-top: 1rem;

        button {
          width: 100%;
        }
      }
    }

    .route-intro2,
    .route-intro4 {
      flex-direction: column-reverse;
    }
  }

  .route1,
  .route2,
  .route3,
  .route4 {
    padding: 2rem 1.5rem;

    .title {
      margin-bottom: 3rem;
      padding: 0;

      h1 {
        padding: 0;
      }

      .subtitle {
        flex-direction: column;
        gap: 1rem;

        .info img {
          width: 30px;
        }
      }
    }

    .timeline {
      gap: 4rem;

      &::before {
        display: none;
      }

      .timeline-item {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 2rem;

        .marker-side {
          display: none;
        }

        .text-side {
          order: 1;
          width: 100%;
          text-align: left;
          padding: 0;
          grid-column: auto;
          grid-row: auto;

          h2 {
            margin-bottom: 1rem;
            padding-bottom: 0;
            font-size: 28px;
          }
        }

        .image-side {
          order: 2;
          width: 100%;
          grid-column: auto;
          grid-row: auto;

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 11px;
          }
        }
      }
    }

    .tip {
      margin-top: 2rem;
      padding: 1.5rem;
      font-size: 18px;

      .top img {
        width: 30px;
      }
    }
  }

  .main-footer {
    padding: 3rem 1.5rem;

    .footer-container {
      flex-direction: column;
      gap: 3rem;
      align-items: flex-start;

      .footer-brand {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;

        .logo-shield img {
          width: 80px;
        }

        h2 {
          font-size: 24px;
        }
      }

      .footer-column {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 2rem;

        &:last-child {
          border: none;
        }

        h3 {
          font-size: 24px;
          margin-bottom: 1.5rem;
        }

        ul li a {
          font-size: 18px;
          padding: 5px 0;
          display: block;
        }
      }

      .footer-subscribe {
        width: 100%;
        padding-top: 1rem;

        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
          margin-bottom: 2rem;
        }

        form {
          width: 100%;

          input,
          button {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  /* ---------------------------- BURGUER ------------------------------------ */

  header nav ul li:last-child {
    display: flex !important;
    justify-content: flex-end;
    justify-content: flex-end;

    height: 35px;
    align-items: center;
  }

  #nav-icon {
    display: block;
  }

  .navcollapse {
    overflow: hidden;
  }
}

#nav-icon {
  display: block;
}

.navcollapse {
  overflow: hidden;
}

#nav-icon {
  width: 30px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  z-index: 9999999999999;

  span {
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background: var(--main-red);
    border: 2px solid var(--main-red);
    color: var(--main-red);
    transition: 0.2s ease-in-out;

    &:nth-child(odd) {
      left: 0;
      border-radius: 8px 0 0 8px;
    }

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 8px 8px 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: 9px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 18px;
    }
  }

  &.open {
    span {

      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 3px;
        top: 5px;
      }

      &:nth-child(2) {
        top: 5px;
        right: 7px;
        left: 50%;
      }

      &:nth-child(5) {
        left: 3px;
        top: 16px;
      }

      &:nth-child(6) {
        top: 16px;
        left: 50%;
      }

      &:nth-child(3) {
        transform: translateX(-100px);
        opacity: 0;
      }

      &:nth-child(4) {
        transform: translateX(100px);
        opacity: 0;
      }
    }
  }
}

.progress-wrap {
  background-color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;

  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .progress-circle path {
    fill: none;
    stroke: var(--main-red);
    /* Uso tu variable de color */
    stroke-width: 4;
    box-sizing: border-box;
    transition: all 200ms linear;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -40%);
    color: white;
  }
}