@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-red: rgb(200, 16, 46);
  --alpine-blue: rgb(235, 242, 245);
  --btn-width: 250px;
  --btn-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--alpine-blue);
  color: black;
  font-family: "Inter";
  font-size: 28px;
  overflow-x: hidden;
  line-height: 170%;
}

h1 {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: bold;
  line-height: 150%;
  color: var(--main-red);
}

h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-style: bold;
  line-height: 150%;
  color: var(--main-red);
}

h3 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  color: var(--main-red);
}

h4 {
  font-family: "Monument Expanded";
  font-size: 40px;
  color: white;
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
  font-style: extrabold;
}

button {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  color: var(--alpine-blue);
  background-color: var(--main-red);
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 800px;
  border-radius: 11px;
  border: none;
}

strong {
  font-weight: 600;
}

.hero-routes {
  padding: 0 3rem;
  background-image: url(../assets/img/header-destinations.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    font-family: "Inter";
    font-style: bold;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
      padding-top: 2rem;

      .logo {
        width: 4rem;
        height: 4rem;
      }
    }

    nav {
      ul {
        padding-top: 2rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3.5rem;

        li a {
          color: var(--alpine-blue);
          text-decoration: none;
          font-size: 24px;
        }
      }
    }
  }

  .hero-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;

    h1 {
      font-family: "Montserrat";
      font-size: 100px;
      color: var(--alpine-blue);
      margin: 0;
      line-height: 1;
    }
  }
}

.routes-intro {
  padding: 3rem 3rem;
  .routes-title {
    text-align: center;

    p {
      font-size: 24px;
      font-style: italic;
    }
  }
  h2 {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .route-intro1,
  .route-intro3 {
    display: flex;

    .left {
      width: 50%;

      .info {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-bottom: 4rem;
        p {
          font-style: bold;
        }
      }

      .first {
        padding-top: 3rem;
      }
      .button {
        text-align: center;
      }
    }
    .right {
      width: 50%;
      align-items: center;
      display: flex;

      justify-content: end;
    }
  }

  .route-intro2,
  .route-intro4 {
    display: flex;

    .left {
      width: 50%;
      align-items: center;
      display: flex;

      justify-content: start;
    }
    .right {
      width: 50%;

      .info {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-bottom: 4rem;
        p {
          font-style: bold;
        }
      }
      .button {
        text-align: center;
      }
    }
  }
}

/* ------------------------------------------------------ ROUTES ------------------------------------------------------ */
.route1,
.route2,
.route3,
.route4 {
  padding: 7rem 3rem;

  margin: 0 auto;

  .title {
    margin-bottom: 5rem;
    h1 {
      margin-bottom: 1.5rem;
    }

    .subtitle {
      display: flex;
      gap: 4rem;
      margin-bottom: 2rem;
      .info {
        gap: 1rem;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        img {
          width: 40px;
        }
      }
    }
  }

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: var(--main-red);
      transform: translateX(-50%);
      z-index: 1;
    }

    .timeline-item {
      display: grid;
      grid-template-columns: 1fr 100px 1fr;
      align-items: center;
      position: relative;
      gap: 1rem;
      z-index: 2;

      .marker-side {
        display: flex;
        justify-content: center;
        .circle {
          width: 55px;
          height: 55px;
          background-color: var(--alpine-blue);
          border: 4px solid var(--main-red);
          border-radius: 50%;
        }
      }

      .text-side {
        h2 {
          padding-bottom: 2rem;
        }
      }

      .image-side {
        img {
          width: 100%;
          border-radius: 11px;
          display: block;
        }
      }

      &:not(.inverted) .text-side {
        text-align: left;
      }
    }
  }

  .tip {
    margin-top: 3.5rem;
    background-color: rgb(217, 217, 217);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 11px;
    padding: 1.5rem;
    font-size: 24px;
    .top {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 0.5rem;

      img {
        width: 40px;
      }
    }
  }
}
.route2 {
  .tip.foodie {
    background-color: #d8e6d1;
    p {
      color: #2d4a22;
    }
  }
}

.route3 {
  .tip.curiosity {
    background-color: #fff9e5;
    p {
      color: #856404;
    }
  }
}

.route4 {
  .tip.wellness {
    background-color: #f5ebf7;
    p {
      color: #6a1b9a;
    }
  }
}

