.item a::before,
.item a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;

    transform-origin: 100% 50%;
}

.item a::before {
    /* subrayado */
    background-color: var(--main-color);
    height: 2px;
    bottom: 0;

    transform: scale(0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a::after {
    /* item por la derecha */
    content: attr(data-replace);
    top: 0;
    height: 100%;

    transform: translate3d(200%, 0, 0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a:hover::before {
    transform-origin: 0% 50%;
    transform: scale(1);
}

.item a:hover::after {
    transform: translate3d(0,0,0);
}