.item a::before,
.item a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;

    transform-origin: 100% 50%;
}

.item a::before {  /* subrayado */
    background-color: var(--main-color);
    height: 2px;
    bottom: 0;

    
    transform: scale(0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a::after { /* item por la derecha */
    content: attr(data-replace);
    top: 0;
    height: 100%;

    transform: translate3d(200%, 0, 0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a:hover::before {
    transform-origin: 0% 50%;
    transform: scale(1);
}

.item a:hover::after {
    transform: translate3d(0,0,0);
    color: var(--main-color);
}

.item a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.item a span {
     display: inline-block;
     transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}


/* -----------------------------BURGUER----------------------------------------------- */
#nav-icon{
    width: 30px;
    height: 35px;

    position: relative;
    cursor: pointer;
    margin: 0;

    border: 1px solid green;
}

#nav-icon span{
    display: block;
    position: relative;
    width: 50%;
    height: 4px;

    background: var(--foreground-color);
}

#nav-icon span:nth-child(odd) {
    left: 0;
    border-radius: 8px 0 0 8px;
}

#nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 8px 8px 0;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2)
{
    top: 0;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4)
{
    top: 9px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6)
{
    top: 18px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(6)
{
    transform: rotate(45deg);
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(5)
{
    transform: rotate(-45deg);
}

#nav-icon span:nth-child(1){
    left: 5px;
    top: 5px;
}

#nav-icon span:nth-child(2){
    top:5px;
    right: 7px;
}

#nav-icon span:nth-child(5){
    left: 3px;
    bottom: 5px;
}

#nav-icon span:nth-child(6){
    
}
