@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #f4ac1c;
    --foreground-color:#222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
    color: var(--foreground-color);
}

.wrapper{
    width: 96%;
    margin: 0 auto; /* margin-inline: auto*/
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border: 1px solid red;

}

.logo img{
    max-width: 108px;
}


.navcollapse{
    /* display: none; */
}

.menu_mobile{
    display: none;
}

/* .navcollapse span{
    display: inline-block;
    border: 2px solid var(--foreground-color);
} */

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.item a{
    text-decoration: none;
    color: var(--foreground-color);
    font-size: 1.2rem;
    font-weight: 600;

    /* settings para la animacion */
}

.contact{
    text-transform: uppercase;
    padding: 6px 1.4rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 20px;
    font-family: Poppins;

    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}