@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Monument Expanded";
  src: url("./assets/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-red: rgb(255, 75, 58);
  --main-blue: rgb(0, 210, 255);
  --btn-width-small: 200px;
  --btn-height-small: 55px;
  --btn-width-large: 230px;
  --btn-height-large: 55px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
  font-family: "Roboto";
  font-size: 30px;
  overflow-x: hidden;
  line-height: 160%;
}

h1 {
  font-family: "Monument Expanded";
  font-size: 128px;
  font-style: bold;
  line-height: 150%;
}

h2 {
  font-family: "Monument Expanded";
  font-size: 80px;
  color: var(--main-blue);
  font-style: bold;
}

h3 {
  font-family: "Monument Expanded";
  font-size: 60px;
  color: var(--main-blue);
  font-style: bold;
}

h4 {
  font-family: "Monument Expanded";
  font-size: 40px;
  color: white;
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
  font-style: extrabold;
}

.button-small {
  width: var(--btn-width-small);
  height: var(--btn-height-small);
  cursor: pointer;
  color: white;
  background-color: var(--main-red);
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 11px;
  border: none;
}

.button-large {
  width: var(--btn-width-large);
  height: var(--btn-height-large);
  cursor: pointer;
  color: white;
  background-color: var(--main-red);
  font-size: 22px;
  font-family: "Roboto";
  border-radius: 11px;
  border: none;
}

strong {
  font-weight: 800;
}

/* ------------------------------------------------------ HERO ------------------------------------------------------ */

.hero {
  background-image: url(assets/img/Hero-photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;

  .header-hero {
    font-family: "Monument Expanded";
    font-size: 24px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;

    a {
      padding-left: 2rem;
      .logo {
        width: 8rem;
        height: 6rem;
        background-image: url(assets/img/logo-small.webp);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    nav {
      ul {
        padding-top: 1.5rem;
        padding-right: 0.5rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3rem;

        li a {
          color: white;
          text-decoration: none;
          font-size: 20px;
        }
      }
    }
  }

  p {
    padding: 2rem 0;
  }
}

/* ------------------------------------------------------ HOME ------------------------------------------------------ */
.home {
  display: flex;
  padding-left: 3rem;
  .home-left {
    width: 50%;
    h3 {
      padding: 4rem 0;
    }
    p {
      padding-bottom: 5rem;
    }
  }
  .home-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/* ------------------------------------------------------ SPORTS ------------------------------------------------------ */
.sports {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  .sports-container {
    display: flex;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;

    .sport-card {
      background-color: white;
      color: black;
      width: 450px;
      border-radius: 11px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }

      .card-content {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        h3 {
          color: black;
          font-family: "Monument Expanded";
          font-size: 32px;
          margin: 0;
        }

        .tags {
          color: var(--main-red);
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 3rem;
        }

        p {
          font-size: 22px;
          line-height: 160%;
          color: #333;
          padding-bottom: 3rem;
        }

        .button-small {
          align-self: center;
          margin-top: auto;
        }
      }
    }
  }
}

/* ------------------------------------------------------ DISCIPLINES ------------------------------------------------------ */
.disciplines {
  padding: 4rem 3rem;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;

  .disciplines-title {
    text-align: center;
    border-bottom: 2px solid var(--main-blue);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .disciplines-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 1rem;
    grid-template-areas:
      "tall img2 img3"
      "tall img4 img5";

    /* Responsive anidado */
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "tall"
        "img2"
        "img3"
        "img4"
        "img5";
      grid-auto-rows: 250px;
    }

    /* Estilos de los items y sus imágenes */
    .grid-item {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      /* Asignación de áreas */
      &.item-1 {
        grid-area: tall;
        @media (max-width: 768px) {
          min-height: 400px;
        }
      }
      &.item-2 {
        grid-area: img2;
      }
      &.item-3 {
        grid-area: img3;
      }
      &.item-4 {
        grid-area: img4;
      }
      &.item-5 {
        grid-area: img5;
      }
    }
  }

  .border-bottom {
    padding-top: 2rem;
    border-bottom: 2px solid var(--main-blue);
  }
}
/* ------------------------------------------------------ EVENTS ------------------------------------------------------ */
.events-section {
  padding: 3rem 3rem;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .main-title {
    text-align: center;
  }

  .hall-of-fame,
  .new-elite {
    border-top: 2px solid var(--main-blue);
    padding-top: 2rem;
  }

  .events-series {
    p {
      margin-bottom: 2.5rem;
      margin-top: 1.5rem;
    }

    .series-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .event-card {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.03);
        border: 2px solid #444;
        border-radius: 11px;
        min-height: 220px;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all 0.3s ease;

        &:hover {
          border-color: var(--main-blue);
          background: rgba(0, 210, 255, 0.07);
          transform: translateY(-8px);
          color: var(--main-blue);
        }

        .card-icon {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            object-fit: contain;
          }
        }

        span {
          font-family: "Monument Expanded";
          font-size: 18px;
          color: white;
          text-align: center;
          letter-spacing: 1.5px;
          text-transform: uppercase;
        }
      }
    }
  }

  .hall-of-fame {
    .hof-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding: 1.5rem 0;

      .hof-card {
        height: 450px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        padding: 1.5rem;

        background-size: cover;
        background-position: center;

        &.patrick {
          background-image: url("assets/img/fame1.webp");
        }
        &.felix {
          background-image: url("assets/img/fame2.webp");
        }

        .hof-content {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }

  .contenders {
    display: flex;
    flex-direction: column;

    .contender-profile {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 7rem;
      padding-bottom: 3rem;

      .profile-image {
        flex: 1;

        h4 {
          font-size: 30px;
          margin-bottom: 1rem;
        }
      }

      .profile-info {
        flex: 1;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
      }

      .social-icons {
        display: flex;
        padding-top: 3rem;
        gap: 4rem;
      }
    }
  }
}

.image-fullwidth {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

/* ------------------------------------------------------ JOIN ------------------------------------------------------ */
.join {
  padding: 3rem 3rem;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  .join-title {
    text-align: center;
  }

  .join-content {
    display: flex;
    align-items: center;
    gap: 5rem;

    .join-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .join-botton {
        text-align: center;

        .button-large {
          margin-top: 20px;
        }
      }
    }

    .join-media {
      flex: 1;
      img {
        width: 100%;
      }
    }
  }

  .join-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    .feature-card {
      background: rgba(255, 255, 255, 0.02);
      border: 2px solid #333;
      border-radius: 11px;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      cursor: pointer;
      height: 80%;

      &:hover {
        border-color: var(--main-blue);
        color: var(--main-blue);
        background: rgba(0, 210, 255, 0.05);
        transform: translateY(-5px);
      }

      .feature-icon {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      span {
        font-family: "Monument Expanded";
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }
}

.map{
  width: 100%;
  height: 100%;
  border: none;
}
