@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: rgba(24, 124, 174, 1);
  --btn-width: 200px;
  --btn-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  overflow-x: hidden;
}

button {
  width: var(--btn-width);
  height: var(--btn-height);
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 6px;
}

h1 {
  color: var(--main-color);
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  margin: 0;
  line-height: 1;
}

b {
  font-weight: 900;
  /* Es la mejor forma que se me ha ocurrido para poner negritas,
 ya que la tipografia oswald no variaba cuando le ponia el font-weight */
}

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    font-weight: 500;
    border: 1px solid rgb(0, 255, 183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    height: 100px;
    width: 100%;

    .logo {
      width: 8rem;
      height: 6rem;
      background-image: url(assets/img/logo2.png);
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
    }

    nav {
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        li a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.5rem;
        }

        .profile img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .hero-content {
    height: 100vh;
    display: flex;
    flex-direction: row;

    .hero-photo {
      width: 60%;
      height: 100%;

      background-image: url(Assets/img/background.png);
      background-size: contain;
      background-position: left top;
      background-repeat: no-repeat;
    }

    .hero-text {
      width: 40%;
      padding: 4rem 2rem;
      line-height: 1.6;
      font-size: 1.1rem;

      .title-top {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        font-size: 16px;
      }

      .title-bottom {
        font-size: 1.2rem;
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        margin-top: 0.5rem;
      }
    }
  }
}

/* -------------------------------------------BIOGRAPHY----------------------------------------- */
.bio-title {
  padding-top: 30px;
  padding-bottom: 40px;
}

.biography {

  margin-left: 10px;

  display: flex;
  padding-left: 1px;
  align-items: flex-end;

  .bio-text {
    width: 50%;
    line-height: 1.6;
  }

  .bio-photo img {
    height: 1000px;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

/* ----------------------------ALBUM --------------------  */
.album {
  .title-album {
    padding-top: 20px;
    text-align: center;
  }

  .top-album {
    padding-top: 40px;
    text-align: center;
    align-items: center;

    .top {
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 40px;
      text-align: center;
      width: 800px;
    }
  }

  .bottom-album {
    padding-top: 80px;
    text-align: center;
    align-items: center;
  }

  .bottom {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    width: 570px;
  }

  .album-photos {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;


    justify-content: space-between;

    gap: 20px;

    align-items: center;

    .album1,
    .album2,
    .album3,
    .album4 {

      width: 200px;
      height: 200px;

    }


    img {

      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.background-photo1 {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------TOUR --------------------  */
.tour-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tour {
  display: flex;
  align-items: center;



  .tour-menu {
    flex-direction: column;
    width: 500px;

    .tour1,
    .tour2,
    .tour3 {
      background-color: rgb(51, 51, 51);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
      /* En el mockup queda mejor  */

      p {
        font-family: "Oswald", sans-serif;
        ;
        color: black;
      }

      h2 {
        font-family: "Oswald", sans-serif;
        ;
      }

      span {
        font-size: 16px;

      }
    }
  }

}