@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: rgba(24, 124, 174, 1);
}

body {
  color: white;
  background-color: black;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    border: 1px solid rgb(0, 255, 183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    height: 100px;
    width: 100%;

    .logo {
      width: 8rem;
      height: 6rem;
      background-image: url(assets/img/logo2.png);
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
    }

    nav {
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        li a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.5rem;
        }

        .profile img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .hero-content {
    height: 100vh;
    display: flex;
    flex-direction: row;

    .hero-photo {
      width: 60%;
      height: 100%;

      background-image: url(Assets/img/background.png);
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
    }

    .hero-text {
      width: 40%;
      padding: 4rem 2rem;
    }
  }
}
