@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: rgba(24, 124, 174, 1);
}

body {
  color: white;
  background-color: black;
}

.hero-section {

  header {
    border: 1px solid rgb(0, 255, 183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    height: 100px;
    width: 100%;
    padding: 1rem .5rem;

    .logo {
      border: 1px solid red;
      width: 100px;
      height: 100px;
      background-image: url(assets/img/logo.png);
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
    }

    nav {
      ul {
        list-style-type: none;
        display: flex;
        align-items: center; 
        gap: 2rem;

        li a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.2rem;
        }

        .icon {
          display: flex;
          align-items: center;
          width: 100px;
          height: 100px;
          border: 1px solid red;
        }
      }
    }
  }
}
