@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Monument Expanded";
  src: url("./assets/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-red: rgb(255, 75, 58);
  --main-blue: rgb(0, 210, 255);
  --btn-width-small: 200px;
  --btn-height-small: 55px;
  --btn-width-large: 230px;
  --btn-height-large: 55px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
  font-family: "Roboto";
  font-size: 28px;
  overflow-x: hidden;
  line-height: 160%;
}

h1 {
  font-family: "Monument Expanded";
  font-size: 128px;
  font-style: bold;
  line-height: 150%;
}

h2 {
  font-family: "Monument Expanded";
  font-size: 80px;
  color: var(--main-blue);
  font-style: bold;
}

h3 {
  font-family: "Monument Expanded";
  font-size: 60px;
  font-style: bold;
}

h4 {
  font-family: "Monument Expanded";
  font-size: 40px;
  color: white;
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
  font-style: extrabold;
}

.button-small {
  width: var(--btn-width-small);
  height: var(--btn-height-small);
  cursor: pointer;
  color: white;
  background-color: var(--main-red);
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 11px;
  border: none;
}

.button-large {
  width: var(--btn-width-large);
  height: var(--btn-height-large);
  cursor: pointer;
  color: white;
  background-color: var(--main-red);
  font-size: 22px;
  font-family: "Roboto";
  border-radius: 11px;
  border: none;
}

strong {
  font-weight: 800;
}

.header {
  font-family: "Monument Expanded";
  font-size: 24px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;

  a {
    padding-left: 2rem;
    .logo {
      width: 8rem;
      height: 6rem;
      background-image: url(../assets/img/logo-small.webp);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  nav {
    ul {
      padding-top: 1.5rem;
      padding-right: 0.5rem;
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 3rem;

      li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}

h2 {
  text-align: center;
  padding: 4rem 0;
}

/* ------------------------------------------------------ SPORTS INTRO ------------------------------------------------------ */
.sports-intro {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;

  .intro1,
  .intro2,
  .intro3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;

    .intro-col {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      img {
        width: 100%;
      }

      .button-small {
        align-self: flex-start;
      }
    }
  }

  .intro2 {
    .intro2-right {
      padding-left: 2rem;
    }
  }
}
