@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

:root {
  --main-gold: rgb(184, 134, 11);
  --btn-width: 170px;
  --btn-height: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Montserrat";
  font-size: 24px;
  overflow-x: hidden;
  line-height: 180%;
}

h1 {
  font-family: "Playfair";
  font-size: 80px;
  color: var(--main-gold);
  font-style: bold;
  line-height: 150%;
}

h2 {
  font-family: "Playfair";
  font-size: 48px;
  color: var(--main-gold);
  font-style: bold;
}

h3 {
  font-family: "Playfair";
  font-size: 64px;
  color: var(--main-gold);
  font-style: bold;
}

h4 {
  font-family: "Playfair";
  font-size: 64px;
  color: rgb(24, 24, 123);
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
}

button {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  color: var(--main-gold);
  font-size: 20px;
  font-family: "Montserrat", medium;
  border: 2px solid var(--main-gold);
  background: transparent;
}

.button2 {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  background-color: var(--main-gold);
  color: white;
  font-size: 20px;
  font-family: "Montserrat", bold;
  font-weight: 700;
  border: none;
}

strong {
  font-weight: 700;
}

#menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 998;

  &.grow {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .logo-m {
    margin-bottom: 3rem;

    img {
      width: 100px;
      height: auto;
    }

    .brand-m {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .menu_mobile_nav {
    list-style: none;
    padding: 0;
    text-align: center;

    li.item {
      padding: 1rem 0;

      a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
}

header {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  display: flex;

  .logo {
    width: 8rem;
    height: 6rem;
    background-image: url(../assets/img/logo-chikito.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  nav {
    ul {
      padding-top: 1.5rem;
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 4rem;

      li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        padding-right: 1.5rem;
      }
    }
  }
}

header nav ul li:last-child {
  display: none;
}

.team {
  h1 {
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 12rem;
  }

  .team1 {
    padding-left: 3rem;

    h4 {
      width: 50%;
      text-align: center;
      padding: 3rem 0;
    }

    h3 {
      width: 50%;
      text-align: center;
    }

    .team1-info {
      padding-top: 4rem;
      display: flex;

      .team1-left {
        width: 50%;
      }

      .team1-right {
        width: 50%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 2rem;
        }

        .team1-right-bottom {
          margin-top: auto;

          padding-top: 1.5rem;

          h5 {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }

          .social {
            padding-top: 3rem;
            img:first-child {
              padding: 0;
              padding-right: 1rem;
            }
            img {
              padding: 0 1rem;
            }
          }
        }
      }
    }
  }

  .team2 {
    padding-top: 8rem;
    padding-right: 3rem;

    .team2-info {
      padding-top: 4rem;
      display: flex;

      align-items: flex-start;

      .team2-left {
        width: 50%;
        padding-right: 1.5rem;
        padding-left: 3.5rem;

        padding-top: 8.5rem;

        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 2rem;
        }

        .team2-left-bottom {
          margin-top: auto;
          padding-top: 1.5rem;

          h5 {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }

          .social {
            padding-top: 3rem;
            img:first-child {
              padding: 0;
              padding-right: 1rem;
            }
            img {
              padding: 0 1rem;
            }
          }
        }
      }

      .team2-right {
        padding-left: 0;
        padding-right: 3.5rem;
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          text-align: center;
          padding: 0;
          padding-bottom: 0.5rem;
          width: 100%;
          margin: 0;
        }

        h3 {
          text-align: center;
          padding-bottom: 3rem;
          width: 100%;
          margin: 0;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .team3 {
    padding-top: 8rem;
    padding-left: 3rem;

    h4 {
      width: 50%;
      text-align: center;
      padding: 3rem 0;
    }

    h3 {
      width: 50%;
      text-align: center;
    }

    .team3-info {
      padding-top: 4rem;
      display: flex;

      .team3-left {
        width: 50%;
      }

      .team3-right {
        width: 50%;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 2rem;
        }

        .team3-right-bottom {
          margin-top: auto;

          padding-top: 1.5rem;

          h5 {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }

          .social {
            padding-top: 3rem;
            img:first-child {
              padding: 0;
              padding-right: 1rem;
            }
            img {
              padding: 0 1rem;
            }
          }
        }
      }
    }
  }

  .team4 {
    padding-top: 8rem;
    padding-right: 3rem;

    .team4-info {
      padding-top: 4rem;
      display: flex;

      align-items: flex-start;

      .team4-left {
        width: 50%;
        padding-right: 1.5rem;
        padding-left: 3.5rem;

        padding-top: 8.5rem;

        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 2rem;
        }

        .team4-left-bottom {
          margin-top: auto;
          padding-top: 1.5rem;

          h5 {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }

          .social {
            padding-top: 3rem;
            img:first-child {
              padding: 0;
              padding-right: 1rem;
            }
            img {
              padding: 0 1rem;
            }
          }
        }
      }

      .team4-right {
        padding-left: 0;
        padding-right: 3.5rem;
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          text-align: center;
          padding: 0;
          padding-bottom: 0.5rem;
          width: 100%;
          margin: 0;
        }

        h3 {
          text-align: center;
          padding-bottom: 3rem;
          width: 100%;
          margin: 0;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  .team-photo-party {
    padding-top: 7rem;
    text-align: center;
    width: 100%;
    img {
      width: 80%;
    }
  }
}

.footer {
  margin-top: 0;
  background-color: rgb(24, 24, 51);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 4rem 8%;
  font-size: 18px;
  align-items: flex-start;

  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    flex-grow: 1;
    padding: 0 3rem;
    height: 25rem;
  }

  .footer-col-1 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: var(--main-gold);
    }

    .star-icon {
      height: auto;
      margin: 1.5rem 0 3rem 0;
    }

    .schedule-time {
      margin-bottom: 2rem;
      font-size: 16px;
      line-height: 1.2;
    }
  }

  .footer-col-2 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: var(--main-gold);
    }

    h2 {
      padding-bottom: 1rem;
    }

    p {
      margin-bottom: 0.2rem;
    }

    .bottom-margin {
      margin-bottom: 4rem;
    }
  }

  .footer-col-3 {
    border-right: none;

    h2 {
      padding-bottom: 1rem;
    }

    .social-icons {
      margin-bottom: 2rem;
      a {
        padding-right: 1.5rem;
      }
    }

    a {
      text-decoration: none;

      p {
        color: #b3a4e8;
        font-size: 16px;
        margin-bottom: 1rem;
      }
    }

    .made-by {
      margin-top: 3rem;
      font-size: 14px;

      span {
        color: var(--main-gold);
      }
    }
  }
}

/* <!---------------------------------------- MEDIA QUERY -------------------------------------- --> */

@media (max-width: 1820px) {
  body {
    line-height: 150%;
  }

  h3,
  h4 {
    padding-bottom: 0.5rem;
    font-size: 45px;
  }

  header {
    padding: 0 5%;

    .logo {
      width: 8rem;
      height: 8rem;
    }

    nav {
      ul {
        gap: 1.5rem;

        li {
          &:nth-child(-n + 4) {
            display: none;
          }
        }

        li a {
          font-size: 1rem;
        }

        .burguer {
          cursor: pointer;
          span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px 0;
            background-color: var(--main-gold, black);
          }
        }
      }
    }
  }

  .team {
    h1 {
      padding-bottom: 3rem;
      padding-top: 2rem;
      font-size: 64px;
    }

    .team1,
    .team2,
    .team3,
    .team4 {
      padding: 0 1.5rem;
      padding-top: 0rem;
    }

    h3,
    h4 {
      width: 100% !important;
      text-align: center;
      padding: 1rem 0 !important;
    }

    .team1-info,
    .team2-info,
    .team3-info,
    .team4-info {
      flex-direction: column;
      padding-top: 2rem;
    }

    .team2-info,
    .team4-info {
      flex-direction: column-reverse;
    }

    .team1-left,
    .team1-right,
    .team2-left,
    .team2-right,
    .team3-left,
    .team3-right,
    .team4-left,
    .team4-right {
      width: 100% !important;
      padding: 0 !important;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }

    .team2-right img,
    .team4-right img {
      margin-bottom: 2rem;
    }

    p {
      text-align: justify;
      font-size: 16px;
    }

    h5 {
      font-size: 18px;
      text-align: center;
    }

    .social {
      display: flex;
      justify-content: center;
      padding-top: 1rem !important;
    }
  }

  .footer {
    flex-direction: column;
    padding: 3rem 1.5rem;
    text-align: center;

    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
      width: 100%;
      height: auto;
      padding: 2rem 0;
      border: none;

      &::after {
        display: none;
      }
    }

    .footer-col-1,
    .footer-col-2 {
      border-bottom: 1px solid var(--main-gold);
    }
  }

  /* ---------------------------- BURGUER ------------------------------------ */

  header nav ul li:last-child {
    display: flex !important;
    justify-content: flex-end;
    justify-content: flex-end;

    height: 35px;
    align-items: center;
  }

  #nav-icon {
    display: block;
  }

  .navcollapse {
    overflow: hidden;
  }
}




#nav-icon {
  width: 30px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  z-index: 1000;

  span {
    display: block;
    position: absolute;
    width: 50%;
    height: 6px;
    background: var(--main-gold);
    border: 2px solid var(--main-gold);
    color: var(--main-gold);
    transition: 0.2s ease-in-out;

    &:nth-child(odd) {
      left: 0;
      border-radius: 8px 0 0 8px;
    }

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 8px 8px 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
    }
    &:nth-child(3),
    &:nth-child(4) {
      top: 9px;
    }
    &:nth-child(5),
    &:nth-child(6) {
      top: 18px;
    }
  }

  &.open {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }
      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 3px;
        top: 5px;
      }
      &:nth-child(2) {
        top: 5px;
        right: 7px;
        left: 50%;
      }
      &:nth-child(5) {
        left: 3px;
        top: 16px;
      }
      &:nth-child(6) {
        top: 16px;
        left: 50%;
      }

      &:nth-child(3) {
        transform: translateX(-100px);
        opacity: 0;
      }

      &:nth-child(4) {
        transform: translateX(100px);
        opacity: 0;
      }
    }
  }
}