@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

:root {
  --main-gold: rgb(184, 134, 11);
  --btn-width: 170px;
  --btn-height: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Montserrat";
  font-size: 24px;
  overflow-x: hidden;
  line-height: 180%;
}

h1 {
  font-family: "Playfair";
  font-size: 80px;
  color: var(--main-gold);
  font-style: bold;
  line-height: 150%;
}

h2 {
  font-family: "Playfair";
  font-size: 48px;
  color: var(--main-gold);
  font-style: bold;
}

h5 {
  font-family: "Playfair";
  font-size: 22px;
  font-style: italic;
  font-style: extrabold;
}

button {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  color: var(--main-gold);
  font-size: 20px;
  font-family: "Montserrat", medium;
  border: 2px solid var(--main-gold);
  background: transparent;
}

.button2 {
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
  background-color: var(--main-gold);
  color: white;
  font-size: 20px;
  font-family: "Montserrat", bold;
  font-weight: 700;
  border: none;
}

strong {
  font-weight: 700;
}

/*---------------------------------------- HERO-------------------------------------- -->*/

.hero {
  background-image: url(assets/img/hero-background.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;

  .header-hero {
    color: rgb(5, 0, 0);
    font-size: 20px;

    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;

    nav {
      ul {
        padding-top: 1.5rem;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 4rem;

        li a {
          color: white;
          text-decoration: none;
          font-size: 20px;
        }
      }
    }
  }

  .hero-logo {
    align-items: center;
    text-align: center;
  }

  .hero-footer {
    display: flex;
    color: white;
    font-size: 20px;
    line-height: 2.5rem;
    margin: 0 2rem;

    margin-top: auto;

    margin-bottom: 0;

    .hero-left {
      display: flex;
      width: 50%;
      gap: 3rem;
    }

    .hero-right {
      width: 50%;
      text-align: end;
    }
  }
}

/* ----------------------------HOME------------------------------------ */

.home {
  display: flex;

  .home-left {
    width: 50%;
    padding-left: 7rem;

    h1,
    h5 {
      text-align: center;
      padding-top: 3.5rem;
    }

    .home-info {
      padding-top: 3rem;
      line-height: 180%;

      .info1,
      .info2 {
        padding: 2rem 0;
      }
    }
  }

  .home-right {
    width: 50%;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

/* ----------------------------MENU------------------------------------ */

.menu {
  display: flex;
  background-color: rgb(220, 220, 220);

  .menu-left {
    width: 40%;
  }

  .menu-right {
    border: 1px solid blue;
    width: 60%;

    h1 {
      padding: 2rem 0;
      text-align: center;
    }

    .menu-info {
      width: 80%;
      border: 1px solid green;
      line-height: 180%;
      padding: 0 3rem;

      margin: 0 auto;
    }

    .menu-options {
      display: flex;
      border: 1px solid red;

      .menu-option-1 {
        line-height: 180%;
        width: 50%;
        border-right: 3px solid var(--main-gold);
        padding-left: 2rem;

        h2 {
          padding: 2rem 0;
        }

        p {
          width: 80%;
          padding-bottom: 2rem;
        }
      }

      .menu-option-2 {
        line-height: 180%;
        width: 50%;
        padding-left: 2rem;

        h2 {
          padding: 2rem 0;
        }

        p {
          width: 80%;
          padding-bottom: 2rem;
        }
      }
    }

    .dish {
      padding: 1rem 0;

      .dish-info {
        width: 80%;
        margin: 0 auto;
        padding: 0 3rem;
      }

      .dish-button {
        text-align: center;
      }
    }
  }
}

/* ----------------------------GALLERY------------------------------------ */
.gallery {
  background-color: rgb(183, 183, 183);

  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 2rem;
    left: -5%;
    width: 55%;
    height: 14px;
    background-color: var(--main-gold);
    border-radius: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: -5%;
    width: 55%;
    height: 14px;
    background-color: var(--main-gold);
    border-radius: 8px;
  }

  .gallery-item {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

/* ---------------------------- TEAM ------------------------------------ */
.team {
  background-color: rgb(183, 183, 183);
  padding-top: 4rem;
  padding-bottom: 0;
  border: 1px solid red;

  .team-title {
    text-align: center;
  }

  .team-info {
    display: flex;

    .team-left {
      width: 50%;
      padding: 4rem;

      p {
        padding: 1rem 0;
      }
    }

    .team-right {
      width: 50%;
      padding: 4rem;

      p {
        padding: 1rem 0;
      }
    }
  }

  .team-button {
    text-align: center;
    padding-bottom: 2rem;
  }

  .team-photo {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    padding-bottom: 0;

    img {
      width: 100%;
      display: block;
    }
  }
}

/* ---------------------------- WINE ------------------------------------ */
.wine {
  background-color: rgb(37, 37, 37);
  display: flex;

  .wine-left {
    width: 50%;

    img {
      width: 100%;
      display: block;
    }
  }

  .wine-right {
    border: 1px solid blue;
    width: 50%;

    h1 {
      padding: 4.5rem 0;
      text-align: center;
      padding-bottom: 4.5rem;
    }

    .wine-info {
      width: 80%;
      border: 1px solid green;
      color: white;
      padding: 0 3rem;

      margin: 0 auto;

      p {
        margin: 0 auto;
        width: 100%;
        padding-bottom: 6rem;
      }
    }
  }
}

.wine-background {
  background-image: url(assets/img/wine-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wine-background-info {
    border: 1px solid green;
    text-align: center;

    color: white;
    max-width: 40%;
    padding: 2rem;

    h1 {
      margin-bottom: 2.5rem;
    }

    p {
      font-style: italic;
      margin-bottom: 2rem;
      font-size: 28px;
      line-height: 150%;
      font-family: "Playfair";
      font-style: bold;
    }
  }
}

/* ---------------------------- PRIVATE DINNING ------------------------------------ */
.private {
  background-color: rgb(37, 37, 37);
  display: flex;

  .private-left {
    width: 50%;
    padding-left: 7rem;
    color: white;

    h1 {
      text-align: center;
      padding-top: 3.5rem;
    }

    .private-info {
      padding-top: 3rem;

      p {
        width: 100%;
        padding-bottom: 6rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }

    .private-button {
      text-align: center;
      padding-top: 3rem;
    }
  }

  .private-right {
    width: 50%;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}



/* ---------------------------- FOOTER ------------------------------------ */
.footer {
  background-color: rgba(0, 0, 33, 90%);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 8%;
  font-size: 18px;


  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 30%;
    padding: 0 1rem;
  }



  .footer-col-1,
  .footer-col-2 {
    width: 30%;
    padding: 0 1rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 10%;
      /* Empieza desde el 25% de la altura total */
      right: 0;
      width: 1px;
      /* El grosor de la línea */
      height: 80%;
      /* La línea ocupará la mitad de la altura de la columna */
      background-color: var(--main-gold);
    }
  }


  .michelin-star {
    margin-bottom: 2rem;
  }

  .star-icon {
    margin: 2rem 0;
  }

  .schedule-day {
    font-weight: 700;
    margin-top: 1.5rem;
  }

  .schedule-time {
    margin-bottom: 1.5rem;
    font-size: 16px;
  }
}

.footer-col-2 {
  h2 {
    padding-bottom: 2rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .bottom-margin {
    margin-bottom: 2rem;
  }
}

.footer-col-3 {
  border-right: none;

  .social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  a {
    text-decoration: none;


    p {
      margin-bottom: 1rem;
    }
  }

  .made-by {
    margin-top: 3rem;
    font-size: 16px;

    span {
      color: var(--main-gold);
    }
  }
}
