    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

    :root {
        --main-gold: rgb(184, 134, 11);
        --btn-width: 170px;
        --btn-height: 48px;
    }


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }



    body {
        color: black;
        font-family: "Montserrat";
        font-size: 36px;
        overflow-x: hidden;
    }

    button {
        width: var(--btn-width);
        height: var(--btn-height);
        cursor: pointer;
        background-color: var(--main-gold);
        color: white;
        font-size: 20px;
        font-family: "Montserrat", bold;
        font-weight: 700;
        border: none;
    }

    .hero {
        border: 1px solid red;
        background-image: url(assets/img/hero-background.png);
        height: 100vh;

        .header-hero {
            color: rgb(5, 0, 0);
            font-size: 20px;
            border: 1px solid green;

            width: 100%;
            height: 10%;
            display: flex;
            justify-content: flex-end;

            nav {

                ul {
                    padding-top: 1rem;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    gap: 4rem;

                    li a {
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
            }
        }

        .hero-logo{
            align-items: center;
            text-align: center;
            
        }



    }