    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

    :root {
        --main-gold: rgb(184, 134, 11);
        --btn-width: 170px;
        --btn-height: 48px;
    }


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }



    body {
        color: black;
        font-family: "Montserrat";
        font-size: 24px;
        overflow-x: hidden;
    }

    h1{
        font-family: "Playfair";
        font-size: 80px;
        color: var(--main-gold);
        font-style: bold;
    }

    h5{
        font-family: "Playfair";
        font-size: 22px;
        font-style: italic;
        font-style: extrabold;
    }

    button {
        width: var(--btn-width);
        height: var(--btn-height);
        cursor: pointer;
        background-color: var(--main-gold);
        color: white;
        font-size: 20px;
        font-family: "Montserrat", bold;
        font-weight: 700;
        border: none;
    }

    strong{
        font-weight: 700;
    }


    /*---------------------------------------- HERO-------------------------------------- -->*/

    .hero {
        background-image: url(assets/img/hero-background.png);
        height: 100vh;
        flex-direction: column;
        display: flex;

        .header-hero {
            color: rgb(5, 0, 0);
            font-size: 20px;

            width: 100%;
            height: 10%;
            display: flex;
            justify-content: flex-end;

            nav {

                ul {
                    padding-top: 1rem;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    gap: 4rem;

                    li a {
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
            }
        }

        .hero-logo{
            align-items: center;
            text-align: center;
            
        }

        .hero-footer{
            display: flex;
            color: white;
            font-size: 20px;
            line-height: 2.5rem;
            margin: 0 2rem;

            margin-top: auto;

            margin-bottom: 0;

            .hero-left{
                display: flex;
                width: 50%;
                gap: 3rem;
                
            }
            .hero-right{
                width: 50%;
                text-align: end;
            }
        }

    }

/* ----------------------------HOME------------------------------------ */

.home{
    display: flex;

    .home-left{
        width: 50%;
        padding-left: 7rem;

        h1,h5{
            text-align: center;
            padding-top: 3.5rem;
        }

        .home-info{
            padding-top: 3rem;
            line-height: 180%;

            .info1,.info2{
                padding: 2rem 0;
            }
        }
    }

    .home-right{
        width: 50%;
        text-align: center;
        height: auto;
    }
}